<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>241445134828-a2387vsfp7mp97308ncc34jlp0sj4rfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241445134828-a2387vsfp7mp97308ncc34jlp0sj4rfq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJlEFIqRw55UOb6UFyz1N5Wkji8Wrm9OI</string>
	<key>GCM_SENDER_ID</key>
	<string>241445134828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.unimelb.comp90018.MyInstagram</string>
	<key>PROJECT_ID</key>
	<string>minstagram-72c09</string>
	<key>STORAGE_BUCKET</key>
	<string>minstagram-72c09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241445134828:ios:0ef1cbb480646560</string>
	<key>DATABASE_URL</key>
	<string>https://minstagram-72c09.firebaseio.com</string>
</dict>
</plist>